@page
@model CrawlModel

<h1>Crawl Hub</h1>

<div class="container">
    <div class="row">
        <div class="col-2">URL to Crawl</div>
        <div class="col-4"><input type="text" id="urlToCrawl" /></div>
    </div>

    <div class="row">
        <div class="col-6">
            <input type="button" id="crawlButton" value="Crawl" />
        </div>
    </div>
    <div class="row">
        <div class="col-6"> <input type="button" id="cancelButton" value="Cancel" /> </div>
    </div>

</div>

<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>

@section Scripts
{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/crawl.js" asp-append-version="true"></script>
}
