@page
@model FooModel

<h1>Foo Hub</h1>
<p>Message to only the Caller client - not streaming. Simple messages.</p>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">User</div>
        <div class="col-4"><input type="text" id="userInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6"> <input type="button" id="sendButton" value="Send Message back to Caller" /> </div>
        <div class="col-6">
            <input type="button" id="throwExceptionButton" value="Throw Exception" />
            <p>See dev tools console in Chrome for the error</p>
        </div>
        <div class="col-6">
            <input type="button" id="throwNormalExceptionButton" value="Throw Normal Exception" />
            <p>Need setup flag passed - See dev tools console in Chrome for the error</p>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>

@section Scripts
{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/foo.js" asp-append-version="true"></script>
}
