@page
@model StreamingChannelModel

<h1>Streaming Channel Hub</h1>

<p>Using Channel Writer and Reader</p>
<p>https://docs.microsoft.com/en-us/aspnet/core/signalr/streaming?view=aspnetcore-5.0#server-to-client-streaming</p>

<div class="container">
    <div class="row">
        <div class="col-6"> <input type="button" id="cancelButton" value="Cancel" /> </div>
        <input type="hidden" id="crawlButton" value="Crawl" /> 
    </div>

</div>

<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>

@section Scripts
{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/streamingChannel.js" asp-append-version="true"></script>
}
